
/* GALERIA */

.contenedorTitulosDeLocaciones {
	text-align: center;
}
.tituloPrincipalGaleria {
	margin-top: 40px;
	margin-left: 20px;
	font-size: xx-large;
	text-align: center;
}
.tituloSecundarioGaleria {
	padding-top: 10px;
	margin-bottom: 10px;
	font-size: xx-large;
	text-align: center;
}
